<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="${title}">Админ Панель</title>

    <!-- AdminLTE CSS -->
    <link rel="stylesheet" th:href="@{/css/adminlte.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
</head>
<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">

    <!-- Навигационная панель -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>
    </nav>

    <!-- Боковая панель -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a href="/" class="brand-link">
            <span class="brand-text font-weight-light">AdminPanel</span>
        </a>

        <!-- Меню -->
        <div class="sidebar">
            <nav>
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview">
                    <!-- Управление категориями -->
                    <li class="nav-item">
                        <a href="/categories" class="nav-link">
                            <i class="nav-icon fas fa-tags"></i>
                            <p>Управление Категориями</p>
                        </a>
                    </li>

                    <!-- Управление товарами -->
                    <li class="nav-item">
                        <a href="/products" class="nav-link">
                            <i class="nav-icon fas fa-box"></i>
                            <p>Управление Товарами</p>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </aside>

    <!-- Контент -->
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <h1 class="m-0" th:text="${headerTitle}"></h1>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <!-- Место для динамического контента -->
                <section layout:fragment="content"></section>
            </div>
        </div>
    </div>
</div>

<!-- AdminLTE JS -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/adminlte.min.js}"></script>
</body>
</html>